<!doctype html>
<!--[if lt IE 7 ]><html class="ie6 ie67 ie no-js" lang="ru"><![endif]-->
<!--[if IE 7 ]>   <html class="ie7 ie67 ie no-js" lang="ru"><![endif]-->
<!--[if IE 8 ]>   <html class="ie8 ie no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]>   <html class="ie9 ie no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{cheatsheet.title}}</title>
    <meta name='yandex-verification' content='76eaa4a618c566d0' />
    <meta property="og:image" content="http://futurecolors.ru/_static/images/logos/facebook_fc_logo.jpg"/>
    <link type="text/plain" rel="author" href="http://futurecolors.ru/humans.txt" />
    <script src="{{STATIC_URL}}js/modernizr.custom.min.js"></script>

    <link href="css/reset.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/common.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/wrapper.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/header.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/footer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/jquery.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="icon" href="{{STATIC_URL}}jqapi_favicon.ico">
</head>
<body class="m-jquery">
    {{> body }}
</body>
</html>
