<div class="cat css">
    <h2>CSS</h2>
    <div class="subcat">
        <h3>CSS</h3>
        <div class="apiobj"><span class="type">str</span>.<a href="http://api.jquery.com/css/">css</a><span class="attributes">( name&nbsp;)</span><div class="description">Get the value of a style property for the first element in the set of matched elements.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/css/#css2">css</a><span class="attributes">(
            name, val&nbsp;<span class="attr-separator">|</span>
            map&nbsp;<span class="attr-separator">|</span>
            name, fn(index, val)&nbsp;)</span>
            <div class="description">Set one or more CSS properties for the set of matched elements.</div>
        </div>
    </div>
    <div class="subcat">
        <h3>Positioning</h3>
        <div class="apiobj"><span class="type">obj</span>.<a href="http://api.jquery.com/offset/">offset</a><span class="attributes">(&nbsp;)</span><div class="description">Get the current coordinates of the first element in the set of matched elements, relative to the document.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/offset/#offset2">offset</a><span class="attributes">(
            coord&nbsp;<span class="attr-separator">|</span>
            fn<span class="attributes">( index, coord&nbsp;)</span>&nbsp;)</span>
            <div class="description">Set the current coordinates of every element in the set of matched elements, relative to the document.</div>
        </div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/offsetParent/">offsetParent</a><span class="attributes">(&nbsp;)</span><div class="description">Get the closest ancestor element that is positioned.</div></div>
        <div class="apiobj"><span class="type">obj</span>.<a href="http://api.jquery.com/position/">position</a><span class="attributes">(&nbsp;)</span><div class="description">Get the current coordinates of the first element in the set of matched elements, relative to the offset parent.</div></div>
        <div class="apiobj"><span class="type">int</span>.<a href="http://api.jquery.com/scrollTop/">scrollTop</a><span class="attributes">(&nbsp;)</span><div class="description">Get the current vertical position of the scroll bar for the first element in the set of matched elements.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/scrollTop/#scrollTop2">scrollTop</a><span class="attributes">( val&nbsp;)</span><div class="description">Set the current vertical position of the scroll bar for each of the set of matched elements.</div></div>
        <div class="apiobj"><span class="type">int</span>.<a href="http://api.jquery.com/scrollLeft/">scrollLeft</a><span class="attributes">(&nbsp;)</span><div class="description">Get the current horizontal position of the scroll bar for the first element in the set of matched elements.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/scrollLeft/#scrollLeft2">scrollLeft</a><span class="attributes">( val&nbsp;)</span><div class="description">Set the current horizontal position of the scroll bar for each of the set of matched elements.</div></div>
    </div>
    <div class="subcat">
        <h3>Height and Width</h3>
        <div class="apiobj"><span class="type">int</span>.<a href="http://api.jquery.com/height/">height</a><span class="attributes">(&nbsp;)</span><div class="description">Get the current computed height for the first element in the set of matched elements.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/height/#height2">height</a><span class="attributes">(
            val&nbsp;<span class="attr-separator">|</span>
            fn<span class="attributes">(index, height&nbsp;)</span>&nbsp;)</span>
            <div class="description">Set the CSS height of every matched element.</div>
        </div>
        <div class="apiobj"><span class="type">int</span>.<a href="http://api.jquery.com/width/">width</a><span class="attributes">(&nbsp;)</span><div class="description">Get the current computed width for the first element in the set of matched elements.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/width/#width2">width</a><span class="attributes">(
            val&nbsp;<span class="attr-separator">|</span>
            fn<span class="attributes">(index, height&nbsp;)</span>&nbsp;)</span>
            <div class="description">Set the CSS width of each element in the set of matched elements.</div>
        </div>
        <div class="apiobj"><span class="type">int</span>.<a href="http://api.jquery.com/innerHeight/">innerHeight</a><span class="attributes">(&nbsp;)</span><div class="description">Get the current computed height for the first element in the set of matched elements, including padding but not border.</div></div>
        <div class="apiobj"><span class="type">int</span>.<a href="http://api.jquery.com/innerWidth/">innerWidth</a><span class="attributes">(&nbsp;)</span><div class="description">Get the current computed width for the first element in the set of matched elements, including padding but not border.</div></div>
        <div class="apiobj"><span class="type">int</span>.<a href="http://api.jquery.com/outerHeight/">outerHeight</a><span class="attributes">( <span class="opt">[includeMargin]</span>&nbsp;)</span><div class="description">Get the current computed height for the first element in the set of matched elements, including padding and border.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/outerHeight/#outerHeight">outerHeight</a><span class="attributes">(
            val&nbsp;<span class="attr-separator">|</span>
            fn<span class="attributes">(index, outerHeight&nbsp;)</span>&nbsp;)</span>
            <span class="p1_4">1.8+</span>
            <div class="description">Set the CSS outer height (CSS “content” height, plus padding and border height) of every matched element.</div>
        </div>
        <div class="apiobj"><span class="type">int</span>.<a href="http://api.jquery.com/outerWidth/">outerWidth</a><span class="attributes">( <span class="opt">[includeMargin]</span>&nbsp;)</span><div class="description">Get the current computed width for the first element in the set of matched elements, including padding and border.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/outerHeight/#outerWidth">outerWidth</a><span class="attributes">(
            val&nbsp;<span class="attr-separator">|</span>
            fn<span class="attributes">(index, outerWidth&nbsp;)</span>&nbsp;)</span>
            <span class="p1_4">1.8+</span>
            <div class="description">Set the CSS outer width (CSS “content” width, plus padding and border width) of every matched element.</div>
        </div>
    </div>
</div>
