<div class="cat manipulation">
    <h2>Manipulation</h2>
    <div class="subcat">
        <h3>Inserting Inside</h3>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/append/">append</a><span class="attributes">(
            content&nbsp;<span class="attr-separator">|</span>
            fn<span class="attributes">( index, html&nbsp;)</span>&nbsp;)</span>
            <div class="description">Insert content, specified by the parameter, to the end of each element in the set of matched elements.</div>
        </div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/appendTo/">appendTo</a><span class="attributes">( target&nbsp;)</span><div class="description">Insert every element in the set of matched elements to the end of the target.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/prepend/">prepend</a><span class="attributes">(
            content&nbsp;<span class="attr-separator">|</span>
            fn<span class="attributes">( index, html&nbsp;)</span>&nbsp;)</span>
            <div class="description">Insert content, specified by the parameter, to the beginning of each element in the set of matched elements.</div>
        </div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/prependTo/">prependTo</a><span class="attributes">( target&nbsp;)</span><div class="description">Insert every element in the set of matched elements to the beginning of the target.</div></div>
    </div>
    <div class="subcat">
        <h3>Inserting Outside</h3>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/after/">after</a><span class="attributes">(
            content&nbsp;<span class="attr-separator">|</span>
            fn()&nbsp;)</span>
            <div class="description"> Insert content, specified by the parameter, after each element in the set of matched elements.</div>
        </div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/before/">before</a><span class="attributes">(
            content&nbsp;<span class="attr-separator">|</span>
            fn()&nbsp;)</span>
            <div class="description">Insert content, specified by the parameter, before each element in the set of matched elements.</div>
        </div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/insertAfter/">insertAfter</a><span class="attributes">( target&nbsp;)</span><div class="description">Insert every element in the set of matched elements after the target.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/insertBefore/">insertBefore</a><span class="attributes">( target&nbsp;)</span><div class="description">Insert every element in the set of matched elements before the target.</div></div>
    </div>
    <div class="subcat">
        <h3>Inserting Around</h3>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/unwrap/">unwrap</a><span class="attributes">(&nbsp;)</span><div class="description">Remove the parents of the set of matched elements from the DOM, leaving the matched elements in their place.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/wrap/">wrap</a><span class="attributes">(
            wrappingElement&nbsp;<span class="attr-separator">|</span>
            fn&nbsp;)</span>
            <div class="description">Wrap an HTML structure around each element in the set of matched elements.</div>
        </div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/wrapAll/">wrapAll</a><span class="attributes">(
            wrappingElement&nbsp;<span class="attr-separator">|</span>
            fn&nbsp;)</span>
            <div class="description">Wrap an HTML structure around all elements in the set of matched elements.</div>
        </div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/wrapInner/">wrapInner</a><span class="attributes">(
            wrappingElement&nbsp;<span class="attr-separator">|</span>
            fn&nbsp;)</span>
            <div class="description">Wrap an HTML structure around the content of each element in the set of matched elements.</div>
        </div>
    </div>
    <div class="subcat">
        <h3>Replacing</h3>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/replaceWith/">replaceWith</a><span class="attributes">(
            content&nbsp;<span class="attr-separator">|</span>
            fn&nbsp;)</span>
            <div class="description">Replace each element in the set of matched elements with the provided new content.</div>
        </div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/replaceAll/">replaceAll</a><span class="attributes">( selector&nbsp;)</span><div class="description">Replace each target element with the set of matched elements.</div></div>
    </div>
    <div class="subcat">
        <h3>Removing</h3>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/detach/">detach</a><span class="attributes">( <span class="opt">[selector]</span>&nbsp;)<div class="description">Remove the set of matched elements from the DOM.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/empty/">empty</a><span class="attributes">(&nbsp;)<div class="description">Remove all child nodes of the set of matched elements from the DOM.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/remove/">remove</a><span class="attributes">( <span class="opt">[selector]</span>&nbsp;)<div class="description">Remove the set of matched elements from the DOM.</div></div>
    </div>
    <div class="subcat">
        <h3>Copying</h3>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/clone/">clone</a><span class="attributes">( <span class="opt">[withDataAndEvents]</span>, [deepWithDataAndEvents]&nbsp;)<div class="description">Create a copy of the set of matched elements.</div></div>
    </div>
</div>
