                    <div class="cat selectors">
                        <h2>Selectors</h2>
                        <div class="subcat compact">
                            <h3>Basics</h3>
                            <div class="apiobj"><a href="http://api.jquery.com/id-selector/">#id</a><div class="description">Selects a single element with the given id attribute.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/element-selector/">element</a><div class="description">Selects all elements with the given tag name.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/class-selector/">.class</a>, <a href="http://api.jquery.com/class-selector/">.class.class</a><div class="description">Selects all elements with the given class.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/all-selector/">*</a><div class="description">Selects all elements.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/multiple-selector/">selector1, selector2</a><div class="description">Selects the combined results of all the specified selectors.</div></div>
                        </div>
                        <div class="subcat compact">
                            <h3>Hierarchy</h3>
                            <div class="apiobj"><a href="http://api.jquery.com/descendant-selector/">ancestor descendant</a><div class="description">Selects all elements that are descendants of a given ancestor.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/child-selector/">parent &gt; child</a><div class="description">Selects all direct child elements specified by "child" of elements specified by "parent".</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/next-adjacent-selector/">prev + next</a><div class="description">Selects all next elements matching "next" that are immediately preceded by a sibling "prev".</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/next-siblings-selector/">prev ~ siblings</a><div class="description">Selects all sibling elements that follow after the "prev" element, have the same parent, and match the filtering "siblings" selector.</div></div>
                        </div>
                        <div class="clear"></div>
                        <div class="subcat compact">
                            <h3>Basic Filters</h3>
                            <div class="apiobj"><a href="http://api.jquery.com/first-selector/">:first</a><div class="description">Selects the first matched element.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/last-selector/">:last</a><div class="description">Selects the last matched element.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/not-selector/">:not(selector)</a><div class="description">Selects all elements that do not match the given selector.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/even-selector/">:even</a><div class="description">Selects even elements, zero-indexed.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/odd-selector/">:odd</a><div class="description">Selects odd elements, zero-indexed.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/eq-selector/">:eq(index)</a><div class="description">Select the element at index n within the matched set.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/gt-selector/">:gt(index)</a><div class="description">Select all elements at an index greater than index within the matched set.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/lt-selector/">:lt(index)</a><div class="description">Select all elements at an index less than index within the matched set.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/header-selector/">:header</a><div class="description">Selects all elements that are headers, like h1, h2, h3 and so on.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/animated-selector/">:animated</a><div class="description">Select all elements that are in the progress of an animation at the time the selector is run.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/focus-selector/">:focus</a><div class="description">Selects element if it is currently focused.</div></div>
                        </div>
                        <div class="subcat compact">
                            <h3>Content Filters</h3>
                            <div class="apiobj"><a href="http://api.jquery.com/contains-selector/">:contains(text)</a><div class="description">Select all elements that contain the specified text.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/empty-selector/">:empty</a><div class="description">Select all elements that have no children (including text nodes).</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/has-selector/">:has(selector)</a><div class="description">Selects elements which contain at least one element that matches the specified selector.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/parent-selector/">:parent</a><div class="description">Select all elements that are the parent of another element, including text nodes.</div></div>
                        </div>
                        <div class="subcat compact">
                            <h3>Visibility Filters</h3>
                            <div class="apiobj"><a href="http://api.jquery.com/hidden-selector/">:hidden</a><div class="description">Selects all elements that are hidden.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/visible-selector/">:visible</a><div class="description">Selects all elements that are visible.</div></div>
                        </div>
                        <div class="clear"></div>
                        <div class="subcat compact">
                            <h3>Child Filters</h3>
                            <div class="apiobj"><a href="http://api.jquery.com/nth-child-selector/">:nth-child(expr)</a><div class="description">Selects all elements that are the nth-child of their parent.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/first-child-selector/">:first-child</a><div class="description">Selects all elements that are the first child of their parent.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/last-child-selector/">:last-child</a><div class="description">Selects all elements that are the last child of their parent.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/only-child-selector/">:only-child</a><div class="description">Selects all elements that are the only child of their parent.</div></div>
                        </div>
                        <div class="subcat compact">
                            <h3>Attribute Filters</h3>
                            <div class="apiobj"><a href="http://api.jquery.com/has-attribute-selector/">[attribute]</a><div class="description">Selects elements that have the specified attribute, with any value.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/attribute-equals-selector/">[attribute=value]</a><div class="description">Selects elements that have the specified attribute with a value exactly equal to a certain value.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/attribute-not-equal-selector/">[attribute!=value]</a><div class="description">Select elements that either don't have the specified attribute, or do have the specified attribute but not with a certain value.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/attribute-starts-with-selector/">[attribute^=value]</a><div class="description">Selects elements that have the specified attribute with a value beginning exactly with a given string.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/attribute-ends-with-selector/">[attribute$=value]</a><div class="description">Selects elements that have the specified attribute with a value ending exactly with a given string.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/attribute-contains-selector/">[attribute*=value]</a><div class="description">Selects elements that have the specified attribute with a value containing the a given substring.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/attribute-contains-prefix-selector/">[attribute|=value]</a><div class="description">Selects elements that have the specified attribute with a value either equal to a given string or starting with that string followed by a hyphen (-).</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/attribute-contains-word-selector/">[attribute~=value]</a><div class="description">Selects elements that have the specified attribute with a value containing a given word, delimited by spaces.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/multiple-attribute-selector/">[attribute][attribute2]</a><div class="description">Matches elements that match all of the specified attribute filters.</div></div>
                        </div>
                        <div class="clear"></div>
                        <div class="subcat compact">
                            <h3>Forms</h3>
                            <div class="apiobj"><a href="http://api.jquery.com/input-selector/">:input</a><div class="description">Selects all input, textarea, select and button elements.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/text-selector/">:text</a><div class="description">Selects all elements of type text.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/password-selector/">:password</a><div class="description">Selects all elements of type password</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/radio-selector/">:radio</a><div class="description">Selects all elements of type radio.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/checkbox-selector/">:checkbox</a><div class="description">Selects all elements of type checkbox.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/submit-selector/">:submit</a><div class="description">Selects all elements of type submit.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/image-selector/">:image</a><div class="description">Selects all elements of type image.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/reset-selector/">:reset</a><div class="description">Selects all elements of type reset.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/button-selector/">:button</a><div class="description">Selects all button elements and elements of type button.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/file-selector/">:file</a><div class="description">Selects all elements of type file.</div></div>
                        </div>
                        <div class="subcat compact">
                            <h3>Form Filters</h3>
                            <div class="apiobj"><a href="http://api.jquery.com/enabled-selector/">:enabled</a><div class="description">Selects all elements that are enabled</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/disabled-selector/">:disabled</a><div class="description">Selects all elements that are disabled.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/checked-selector/">:checked</a><div class="description">Matches all elements that are checked.</div></div>
                            <div class="apiobj"><a href="http://api.jquery.com/selected-selector/">:selected</a><div class="description">Selects all elements that are selected.</div></div>
                        </div>
                        <div class="clear"></div>
                    </div>