<div class="cat attributes">
    <h2>Attributes</h2>
    <div class="subcat">
        <h3>Attributes</h3>
        <div class="apiobj">
            <span class="type">str</span>.<a href="http://api.jquery.com/attr/">attr</a><span class="attributes">(
            name&nbsp;<span class="attr-separator">|</span> name&nbsp;, value&nbsp;)</span>
            <div class="description">Get the value of an attribute for the first element in the set of matched elements.</div>
        </div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/attr/#attr2">attr</a><span class="attributes">(
            name, val&nbsp;<span class="attr-separator">|</span> map&nbsp;<span class="attr-separator">|</span> name, fn(index, attr)&nbsp;)</span>
            <div class="description">Set one or more attributes for the set of matched elements.</div>
        </div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/removeAttr/">removeAttr</a><span class="attributes">( name&nbsp;)</span><div class="description">Remove an attribute from each element in the set of matched elements.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/prop/">prop</a><span class="attributes">( name&nbsp;)</span><div class="description">Get the value of a property for the first element in the set of matched elements.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/removeProp/">removeProp</a><span class="attributes">( name&nbsp;)</span><div class="description">Remove a property for the set of matched elements.</div></div>
    </div>
    <div class="subcat">
        <h3>Class</h3>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/addClass/">addClass</a><span class="attributes">(
            class&nbsp;<span class="attr-separator">|</span>
            fn<span class="attributes">(index, class)</span>&nbsp;)</span>
            <div class="description">Adds the specified class(es) to each of the set of matched elements.</div>
        </div>
        <div class="apiobj"><span class="type">bool</span>.<a href="http://api.jquery.com/hasClass/">hasClass</a><span class="attributes">( class&nbsp;)</span><div class="description">Determine whether any of the matched elements are assigned the given class.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/removeClass/">removeClass</a><span class="attributes">(
            <span class="opt">[class]</span>&nbsp;<span class="attr-separator">|</span>
            fn<span class="attributes">(index, class)</span>&nbsp;)</span>
            <div class="description">Remove one or all classes from each element in the set of matched elements.</div>
        </div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/toggleClass/">toggleClass</a><span class="attributes">(
            class <span class="opt">[, switch]</span>&nbsp;<span class="attr-separator">|</span>
            fn<span class="attributes">(index, class)</span> <span class="opt">[, switch]</span>&nbsp;)</span>
            <div class="description">Add or remove a class from each element in the set of matched elements, depending on either the class's presence or the value of the switch argument.</div>
        </div>
    </div>
    <div class="subcat">
        <h3>HTML, text</h3>
        <div class="apiobj"><span class="type">str</span>.<a href="http://api.jquery.com/html/">html</a><span class="attributes">(&nbsp;)</span><div class="description">Get the HTML contents of the first element in the set of matched elements.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/html/#html2">html</a><span class="attributes">(
            val&nbsp;<span class="attr-separator">|</span>
            fn(index, html)&nbsp;)</span>
            <div class="description">Set the HTML contents of each element in the set of matched elements.</div>
        </div>
        <div class="apiobj"><span class="type">str</span>.<a href="http://api.jquery.com/text/">text</a><span class="attributes">(&nbsp;)</span><div class="description">Get the combined text contents of each element in the set of matched elements, including their descendants.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/text/#text2">text</a><span class="attributes">(
            val&nbsp;<span class="attr-separator">|</span>
            fn(index, html)&nbsp;)</span>
            <div class="description">Set the content of each element in the set of matched elements to the specified text.</div>
        </div>
    </div>
    <div class="subcat">
        <h3>Value</h3>
        <div class="apiobj"><span class="type">str,arr</span>.<a href="http://api.jquery.com/val/">val</a><span class="attributes">(&nbsp;)</span><div class="description">Get the current value of the first element in the set of matched elements.</div></div>
        <div class="apiobj">
            <span class="type">$</span>.<a href="http://api.jquery.com/val/#val2">val</a><span class="attributes">(
            val&nbsp;<span class="attr-separator">|</span>
            fn()&nbsp;)</span>
            <div class="description">Set the value of each element in the set of matched elements.</div>
        </div>
    </div>
</div>
