<div class="cat effects">
    <h2>Effects</h2>
    <div class="subcat">
        <h3>Basics</h3>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/show/">show</a><span class="attributes">( <span class="opt">[ duration [, easing] <span class="opt">[, fn]</span> ]</span> &nbsp;)</span><div class="description">Display the matched elements.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/hide/">hide</a><span class="attributes">( <span class="opt">[ duration [, easing] <span class="opt">[, fn]</span> ]</span> &nbsp;)</span><div class="description">Hide the matched elements.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/toggle/#toggle2">toggle</a><span class="attributes">( <span class="opt">[showOrHide]</span>&nbsp;)</span><div class="description">Bind two or more handlers to the matched elements, to be executed on alternate clicks.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/toggle/#toggle2">toggle</a><span class="attributes">( duration [, easing] <span class="opt">[, fn]</span>&nbsp;)</span><div class="description">Bind two or more handlers to the matched elements, to be executed on alternate clicks.</div></div>
    </div>
    <div class="subcat">
        <h3>Sliding</h3>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/slideDown/">slideDown</a><span class="attributes">( duration [, easing] <span class="opt">[, fn]</span>&nbsp;)</span><div class="description">Display the matched elements with a sliding motion.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/slideUp/">slideUp</a><span class="attributes">( duration [, easing] <span class="opt">[, fn]</span>&nbsp;)</span><div class="description">Hide the matched elements with a sliding motion.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/slideToggle/">slideToggle</a><span class="attributes">( [duration] [, easing] <span class="opt">[, fn]</span>&nbsp;)</span><div class="description">Display or hide the matched elements with a sliding motion.</div></div>
    </div>
    <div class="subcat">
        <h3>Fading</h3>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/fadeIn/">fadeIn</a><span class="attributes">( duration <span class="opt">[, easing] [, fn]</span>&nbsp;)</span><div class="description">Display the matched elements by fading them to opaque.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/fadeOut/">fadeOut</a><span class="attributes">( duration <span class="opt">[, easing] [, fn]</span>&nbsp;)</span><div class="description">Hide the matched elements by fading them to transparent.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/fadeTo/">fadeTo</a><span class="attributes">( [duration,] opacity <span class="opt">[, easing] [, fn]</span>&nbsp;)</span><div class="description">Adjust the opacity of the matched elements.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/fadeToggle/">fadeToggle</a><span class="attributes">( [duration,] <span class="opt">[, easing] [, fn]</span>&nbsp;)</span><div class="description">Display or hide the matched elements by animating their opacity.</div></div>
    </div>
    <div class="subcat">
        <h3>Custom</h3>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/animate/">animate</a><span class="attributes">( params <span class="opt">[, duration]</span> <span class="opt">[, easing]</span> <span class="opt">[, fn]</span>&nbsp;)</span><div class="description">Perform a custom animation of a set of CSS properties.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/animate/">animate</a><span class="attributes">( params, options&nbsp;)</span><div class="description">Perform a custom animation of a set of CSS properties.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/stop/">stop</a><span class="attributes">( <span class="opt">[queue]</span> <span class="opt">[, clearQueue]</span> <span class="opt">[, jumpToEnd]</span>&nbsp;)</span><span class="p1_4">1.7*</span><div class="description">Stop the currently-running animation on the matched elements.</div></div>
        <div class="apiobj"><span class="type">$</span>.<a href="http://api.jquery.com/delay/">delay</a><span class="attributes">( duration <span class="opt">[, queueName]</span>&nbsp;)</span><div class="description">Set a timer to delay execution of subsequent items in the queue.</div></div>
    </div>
    <div class="subcat">
        <h3>Settings</h3>
        <div class="apiobj"><span class="type">bool</span><a href="http://api.jquery.com/jQuery.fx.off/">jQuery.fx.off</a><div class="description">Globally disable all animations.</div></div>
        <div class="apiobj"><span class="type">num</span><a href="http://api.jquery.com/jQuery.fx.interval/">jQuery.fx.interval</a><div class="description">The rate (in milliseconds) at which animations fire.</div></div>
    </div>
</div>
