<div class="cat deferred">
    <h2>Callbacks</h2>
    <div class="apiobj_wd apiobj_wd_utilites">
        <span>callbacks object</span> = {<span class="p1_4">1.7+</span>
        <div class="apiobj"><span class="type">und</span>.<a href="http://api.jquery.com/callbacks.add/">add</a><span class="attributes">(callbacks)</span><div class="description">Add a callback or a collection of callbacks to a callback list.</div></div>
        <div class="apiobj"><span class="type">und</span>.<a href="http://api.jquery.com/callbacks.disable/">disable</a><span class="attributes">()</span><div class="description">Disable a callback list from doing anything more.</div></div>
        <div class="apiobj"><span class="type">und</span>.<a href="http://api.jquery.com/callbacks.empty/">empty</a><span class="attributes">()</span><div class="description">Remove all of the callbacks from a list.</div></div>
        <div class="apiobj"><span class="type">und</span>.<a href="http://api.jquery.com/callbacks.fire/">fire</a><span class="attributes">(arguments)</span><div class="description">Call all of the callbacks with the given arguments</div></div>
        <div class="apiobj"><span class="type">bool</span>.<a href="http://api.jquery.com/callbacks.fired/">fired</a><span class="attributes">()</span><div class="description">Determine if the callbacks have already been called at least once.</div></div>
        <div class="apiobj"><span class="type">und</span>.<a href="http://api.jquery.com/callbacks.fireWith/">fireWith</a><span class="attributes">([context] [, args])</span><div class="description">Call all callbacks in a list with the given context and arguments.</div></div>
        <div class="apiobj"><span class="type">bool</span>.<a href="http://api.jquery.com/callbacks.has/">has</a><span class="attributes">(callback)</span><div class="description">Determine whether a supplied callback is in a list</div></div>
        <div class="apiobj"><span class="type">und</span>.<a href="http://api.jquery.com/callbacks.lock/">lock</a><span class="attributes">()</span><div class="description">Lock a callback list in its current state.</div></div>
        <div class="apiobj"><span class="type">bool</span>.<a href="http://api.jquery.com/callbacks.locked/">locked</a><span class="attributes">()</span><div class="description">Determine if the callbacks list has been locked.</div></div>
        <div class="apiobj"><span class="type">und</span>.<a href="http://api.jquery.com/callbacks.remove/">remove</a><span class="attributes">(callbacks)</span><div class="description">Remove a callback or a collection of callbacks from a callback list.</div></div>
        }
    </div>
    <div class="subcat">
        <div class="apiobj"><span class="type">cb</span> <a href="http://api.jquery.com/jQuery.Callbacks/">$.Callbacks</a><span class="attributes">( flags )</span><div class="description"> A multi-purpose callbacks list object that provides a powerful way to manage callback lists.</div></div>
   </div>
</div>
