<div class="g-clear"></div>
<footer class="b-footer">
    <div class="b-footer__overlay">
        <div class="b-footer__contacts">
            <div class="b-footer__mail">Email: <a href="mailto:{{cheatsheet.email}}">{{cheatsheet.email}}</a></div>
            <div class="b-footer__phone">Phone: {{cheatsheet.phone}}</div>
        </div>
        <div class="b-footer__copy">© Future Colors, 2008—{{now "%Y"}}</div>
        <div class="fb-like" data-href="http://www.facebook.com/TheFutureColors"
             data-send="false" data-layout="button_count" data-width="150" data-show-faces="true"></div>
    </div>
</footer>