/**
 * Footer
 *
 * @package     futurecolors
 * @version     2.0
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */

/**
 * @section     Footer
 */

.b-footer {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -60px;
    font-size: 14px;
    color: #333;
}

.b-footer__contacts {
    float: right;
    padding: 5px 30px 0 0;
    text-align: right;
}

.b-footer__mail,
.b-footer__phone,
.b-footer__address {
    height: 17px;
}

.b-footer__copy {
    padding-left: 20px;
}

/**
 * @section     Buttons
 */

.custom-buttons {
    position: relative;
    top: -32px;
    left: 20px;
    width: 500px;
}
