/**
 * Header
 *
 * @package     futurecolors
 * @version     2.0
 * @author      Golikov Artem <art@futurecolors.ru>
 * @copyright   Future Colors
 */

/**
 * @section     Header
 */

.b-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 120px;
}

/**
 * @subsection  Logo
 */

.b-logo {
    display: block;
    padding: 20px 0 0 0;
    margin-right: 100px;
    outline: 0;
}

.ie6 .m-fa .b-logo {
    padding: 0;
    position: relative;
    top: 20px;
    left: 0;
    width: 365px;
    height: 69px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/works/fa/logo.png');
}

.m-narayone .b-logo,
.m-stillion .b-logo,
.m-tnkracing .b-logo,
.m-carbon .b-logo,
.m-5blades .b-logo {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 3;
    padding: 0;
}

.m-stillion .b-logo,
.m-tnkracing .b-logo,
.m-carbon .b-logo,
.m-5blades .b-logo {
    width: 365px;
    height: 69px;
}

.m-moscowdjango .b-logo {
    height: 20px;
}

.b-logo_main {
    position: relative;
    display: inline-block;
    width: 363px;
    height: 66px;
    margin-top: 21px;
    padding: 0;
}

.ie6 .b-logo_main {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fc_main_logo.png');
}

.b-logo__image {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 365px;
    height: 69px;
    margin-bottom: 12px;
}

.ie6 .b-logo__image {
    padding-top: 35px;
}

.ie6 .b-logo_main .b-logo__image {
    display: none;
}

.ie67 .b-logo_main .b-logo__image {
    margin-top: -41px;
}

.ie6 .m-narayone .b-logo__image,
.ie6 .m-autokosmos .b-logo__image {
    padding: 0;
}

.ie6 .m-fa .b-logo__image {
    display: none;
}

.m-moscowdjango .b-logo__image {
    top: 6px;
}

/**
 * @subsection  Menu
 */

.b-menu {
    float: right;
    font-size: 18px;
    padding-right: 20px;
}

.b-menu__item {
    padding-left: 50px;
    float: left;
}

.b-menu__item-link {
    color: #777;
    font-style: italic;
}
